In [1]:
# Importing dependencies and libraries
import pandas as pd
from pathlib import Path
%matplotlib inline

In [2]:
# Reading csv files and assigning 'Date' column as index
SP500_data = Path("SP500.csv")

# Reading csv as df

SP500_df = pd.read_csv(SP500_data,index_col="Date", parse_dates=True, infer_datetime_format=True)

SP500_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2015-10-02,1921.770020,1951.359985,1893.699951,1951.359985,1951.359985,4378570000
2015-10-05,1954.329956,1989.170044,1954.329956,1987.050049,1987.050049,4334490000
2015-10-06,1986.630005,1991.619995,1971.989990,1979.920044,1979.920044,4202400000
2015-10-07,1982.339966,1999.310059,1976.439941,1995.829956,1995.829956,4666470000
2015-10-08,1994.010010,2016.500000,1987.530029,2013.430054,2013.430054,3939140000
...,...,...,...,...,...,...
2020-09-25,3236.659912,3306.879883,3228.439941,3298.459961,3298.459961,3792220000
2020-09-28,3333.899902,3360.739990,3332.909912,3351.600098,3351.600098,3946060000
2020-09-29,3350.919922,3357.919922,3327.540039,3335.469971,3335.469971,3651880000
2020-09-30,3341.209961,3393.560059,3340.469971,3363.000000,3363.000000,4722530000
2020-10-01,3385.870117,3397.179932,3361.389893,3380.800049,3380.800049,4070530000

In [5]:
SP500_close_data= SP500_df.drop(columns=["Open","High","Low","Adj Close", "Volume"])

In [6]:
SP500_close_data

                  Close
Date
2015-10-02  1951.359985
2015-10-05  1987.050049
2015-10-06  1979.920044
2015-10-07  1995.829956
2015-10-08  2013.430054
...                 ...
2020-09-25  3298.459961
2020-09-28  3351.600098
2020-09-29  3335.469971
2020-09-30  3363.000000
2020-10-01  3380.800049

[1259 rows x 1 columns]

In [9]:
SP500_close_data.to_csv(r'SP500_close_data.csv', index=True, header=True)